.cafe_body_skin{
    width: 1348px;
    height: 2357px;
    display: flex;
    justify-content: center;
}

.naver_logo{
    width: 1080px;
    height: 35px;
    margin: auto;
}

.cafe_bener{
    margin: auto;
}