.text{
    margin-left: 50px;
    cursor: pointer;
}

.cafe_bar{
    width: 165px;
    display: block;
    font-weight: bold;
    line-height: 38px;
    border-radius: 6px;
    background-color: #5a5a5a;
    color: white;
}

.text2{
    margin-left: 100px;
}

.text3{
    margin-left: 53px;
}

.text4{
    margin-left: 63px;
}
